

.annotask-modal-card{
    margin: 20px
}

.pipeline-start-4{
    text-align: center
}

.pipeline-running-toolbar{
   // background-color: #eee8d5;
    text-align: center
}

.pipeline-running-toolbar-button{
    margin-right: 10px;
    margin-left: 10px;
}



.pipeline-error-message{
    font-size: xx-large;
    text-align: center;
    color: red;
}