.labels-svg{
    width: 390px;
    height: 65px
}

.labels-rect{
    width: 100%;
    height: 100%;
    fill: #7890A7;
    stroke-width: 20px;
    stroke: #ffffff;
}

.labels-foreign-object{
    width: 100%;
    height: 100%;
}
.labels-xhtml{
    font-size: 40px;
}